<div id="dinamic-navbar" class="hidden">
	<div class="navbar navbar-default navbar-fixed-top navbar-gt" role="navigation">
	  <div class="container container-small">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="logo-navbar" href="#section-0"><img src="<!-- @path logo-granturchese-sm.png -->" alt="Logo Colussi Gran Turchese"/></a>
	    </div>
	    <div class="navbar-collapse collapse">
	      <ul class="nav navbar-nav navbar-right navbar-nav-script">
	        <li><a href="#section-1">Let me introduce myself</a></li>
	        <li><a href="#section-2">My family</a></li>
	        <li><a href="#section-5">Shall we have breakfast?</a></li>
	        <li><a href="#section-4">Follow me</a></li>
	      </ul>
	    </div><!--/.nav-collapse -->
	  </div>
	</div>
</div>