body {
	font-family: 'Handlee', 'cursive';
  /*font-family: $font-family-sans-serif;*/
  color: $color-primary;
  @media (min-width: $screen-sm) {
  	font-size: 16px;
  	line-height: 2em;
  }	
  
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
}

h1 {
	&.script {
		@media (max-width: $screen-sm) {
			font-size: floor(($font-size-h1 * 0.7));
		}
	}
}
h2 {
	&.script {
		@media (max-width: $screen-sm) {
			font-size: floor(($font-size-h2 * 0.6));
		}
	}
}
h3 {
	&.script {
		@media (max-width: $screen-sm) {
			font-size: floor(($font-size-h3 * 0.5));
		}
	}
}



.lead {
	@media (min-width: $screen-sm) {
	  line-height: 1.8em;
	}
}

h5 {
  color: $color-primary-medium;
  i {
    font-weight: normal;
  }
}

.bold {
  font-weight: bold;
}

.script {
	font-family: 'Handlee', 'cursive';
	color: $blu;
}
