.card-container {
	margin-top: -100px;
	padding-top: 20px;
	@media (min-width: $screen-xs) {
		margin-top: -150px;
	}
	@media (min-width: $screen-md) {
		margin-top: -170px;
	}
	
	.img-card-ombra {
		margin-top: 10px;
		margin-bottom: 0px;
	}
	
}

#card {
	
	margin: 0 auto;
	
	width:300x;
	height:220px;
	@media (min-width: $screen-sm) {
		width:600x;
		height:440px;
	}
	
	-webkit-transition:margin-left 0.2s ease-in-out;
  -moz-transition:margin-left 0.2s ease-in-out;
  -o-transition:margin-left 0.2s ease-in-out;
  -ms-transition:margin-left 0.2s ease-in-out;
  transition:margin-left 0.2s ease-in-out;
	
		
} /* #card */
