/*
#dinamic-navbar {	display: none;}*//*
.dinamic-navbar-affix {	@media (min-width: $screen-sm) {		top: 10px;		left: 40px;		right: 40px;	}}*/

/*.navbar-custom-responsive {	.navbar-brand,	.navbar-header {		float: left;	}	.navbar-right {		@media (max-width: $screen-sm) {			float: right;			margin-right: 0px;		}	}	.navbar-nav > li {		@media (max-width: $screen-sm) {			float: left;		}	}	@media (min-width: $screen-sm) {		.hidden-xs {			display: inline!important;		}	}}.navbar-nav.navbar-right:last-child {	@media (min-width: $screen-sm) {		margin-right: 0px;	}	@media (max-width: $screen-sm) {		margin-right: 10px;	}}*/
/*a.logo {	text-indent: -10000em;	background: url(logo.png) no-repeat center 0; 	background-size: 000px 000px;	padding-top: 0px;	width: 000px;	height: 000px;	position: relative;	float: left;	top: 0px;}*/

.col-logo-gt {
	margin-top: -10px;
	@media (min-width: $screen-sm) {
		margin-top: -40px;
	}
}

.palette-header {
	padding-top: 80px;
	padding-bottom: 140px;
	margin-top: -60px;
	@media (min-width: $screen-md) {
		padding-top: 100px;
		padding-bottom: 170px;
		margin-top: -80px;
	}
	@media (max-width: $screen-xs) {
		padding-top: 10px;
		padding-bottom: 100px;
		margin-top: 0px;
	}
	
	background: $color-info url(../img/bg-alone.png) no-repeat center center scroll;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	overflow: hidden;
}

.intro-carta {
	z-index: 2000;
	position: absolute;
	width: 230px;
	top: 40%;
	left: 14%;
	@media (min-width: $screen-md) {
		left: 22%;
	}
	@media (min-width: $screen-lg) {
		left: 26%;
	}
}
