.navbar-gt {
	background-color: $bianco;
	border-color: #f8f8f8;	
}

.logo-navbar > img {
	padding: 6px 0;
	width: 130px;
	height: auto;
}

.navbar-nav {
	> li {
		> a {
			
		} /* > a */
	} /* > li */
	
	&.navbar-nav-script {
		> li {
			> a {
				font-family: $font-family-script;
				color: $color-primary;
			} /* > a */
		} /* > li */
		
		> .active > a {
			background-color: #f8f8f8;
			color: $color-primary;
		}
		
	}
	
} /* .navbar-nav */