.container-small {
	@media (min-width: $screen-md) {
		width: 750px;
	}	
}
.container-center-sm {
	@media (max-width: $screen-sm) {
		text-align: center;
	}	
}

.dl-horizontal {
	@media (max-width: $screen-sm) {
		text-align: center;
	}
}