<!-- Call to Action -->
<div class="call-to-action palette-warning">
  <div class="container">
    <div class="text-center">
      <h3 class="script">Divisore</h3>
      <p>Qui possiamo inserire qualche contenuto per far interagire l'utente... Video, contatti social...</p>
      <a href="mailto:info@molinogatti.it" class="btn btn-lg btn-danger">Mail</a>
      <a href="tel:+39075837336" class="btn btn-lg btn-danger">Tel</a>
    </div>
  </div>
</div>
<!-- /Call to Action -->