<!-- Callout -->
<div class="callout">
  <div class="vert-text" style="vertical-align: middle;">
  	
  	<div class="cbp-so-section">  		
  		<div class="cbp-so-side cbp-so-side-top cbp-normal">
  			<h1 class="script">Ricordate… <br/>di GranTurchese ce n’è uno, <br class="visible-md visible-lg"/>come lui non c’è nessuno!</h1>
  		</div>
  	</div> <!--cbp-so-section-->
  	
  </div>
</div>
<!-- /Callout -->