<!-- Callout -->
<div class="callout-2">
  <div class="vert-text" style="vertical-align: middle;">
  	
  	<div class="cbp-so-section">  		
  		<div class="cbp-so-side cbp-so-side-top cbp-normal">
  			<h1 class="script">GranTurchese al cacao <br class="visible-md visible-lg"/>vivi una giornata piena di energia!</h1>
  		</div>
  	</div> <!--cbp-so-section-->
  	
  </div>
</div>
<!-- /Callout -->