<div id="section-1" class="intro"> <!-- .header -->	<div class="container container-small container-center-sm">
	
		<div class="cbp-so-section">
			<div class="animated fadeInUp">
				<div class="cbp-so-side cbp-so-side-top cbp-normal">
					<h1 class="script text-center">Scusate permettete,<br /> io sono GranTurchese!</h1>
				</div>
			</div>
		</div> <!--cbp-so-section-->
		
		<div class="row">
			
			<!--sezione 1-->
			<div class="divider_padding"></div>
			<div class="col-xs-4 col-xs-offset-4"><hr /></div>
			<div class="divider_padding"></div>
			<div class="clearboth"></div>
			
			<div class="cbp-so-section">
				<div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
					<div class="cbp-so-side cbp-so-side-left cbp-fast">
						<img src="<!-- @path img-sez-1.jpg -->" alt="" class="img-responsive center-block"/>
					</div>
				</div> <!--col-sm-4-->
				<div class="col-sm-8 col-sm-offset-0 col-xs-12 col-xs-offset-0">
					<div class="cbp-so-side cbp-so-side-right cbp-normal">
						<p class="lead">Il segreto del mio gusto è la mia storia, fatta di bontà, qualità e desiderio di condividere momenti di felicità!</p>
						<p>Sono nato nel 1955 grazie al <strong>lampo di genio del Signor Colussi</strong>: creare, in pochi semplici gesti, <strong class="text-primary">il biscotto protagonista della prima colazione italiana</strong>, ideale per iniziare la giornata con allegria!</p>
					</div>
				</div> <!--col-sm-8-->
			</div> <!--cbp-so-section-->
			
			<!--sezione 2-->
			<div class="divider_padding"></div>
			<div class="col-xs-4 col-xs-offset-4"><hr /></div>
			<div class="divider_padding"></div>
			<div class="clearboth"></div>
			
			<div class="cbp-so-section">
				<div class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-6 col-xs-offset-3 col-xs-push-0">
					<div class="cbp-so-side cbp-so-side-right cbp-fast">
						<img src="<!-- @path img-sez-2.jpg -->" alt="" class="img-responsive center-block"/>
					</div>
				</div> <!--col-sm-4-->
				<div class="col-sm-8 col-sm-pull-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 col-xs-pull-0">
					<div class="cbp-so-side cbp-so-side-left cbp-normal">
						<p class="lead">Tutto ha inizio dall’acquisto di ingredienti di primissima qualità: <strong>farina</strong>, <strong>latte</strong> <strong>uova</strong> e <strong>zucchero</strong></p>
						<p>Com’è risaputo chi ben comincia è a metà dell’opera! Questi componenti vengono miscelati per circa 8 minuti.</p>
					</div>
				</div> <!--col-sm-8-->
			</div> <!--cbp-so-section-->
			
			<!--sezione 3-->
			<div class="divider_padding"></div>
			<div class="col-xs-4 col-xs-offset-4"><hr /></div>
			<div class="divider_padding"></div>
			<div class="clearboth"></div>
			
			<div class="cbp-so-section">
				<div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
					<div class="cbp-so-side cbp-so-side-left cbp-fast">
						<img src="<!-- @path img-sez-3.jpg -->" alt="" class="img-responsive center-block"/>
					</div>
				</div> <!--col-sm-4-->
				<div class="col-sm-8 col-sm-offset-0 col-xs-12 col-xs-offset-0">
					<div class="cbp-so-side cbp-so-side-right cbp-normal">
						<p>Come ogni lavorazione il mio impasto va tenuto a riposo per un brevissimo tempo e successivamente grazie ad uno stampo personalizzato assumo le mie inimitabili sembianze.</p>
						<p class="lead">L’unico frollino tondo e con i buchi!</p>
					</div>
				</div> <!--col-sm-8-->
			</div> <!--cbp-so-section-->
			
			<!--sezione 4-->
			<div class="divider_padding"></div>
			<div class="col-xs-4 col-xs-offset-4"><hr /></div>
			<div class="divider_padding"></div>
			<div class="clearboth"></div>
			
			<div class="cbp-so-section">
				<div class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-6 col-xs-offset-3 col-xs-push-0">
					<div class="cbp-so-side cbp-so-side-right cbp-fast">
						<img src="<!-- @path img-sez-4.jpg -->" alt="" class="img-responsive center-block"/>
					</div>
				</div> <!--col-sm-4-->
				<div class="col-sm-8 col-sm-pull-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 col-xs-pull-0">
					<div class="cbp-so-side cbp-so-side-left cbp-normal">
						<p class="lead">Subito dopo mi spalmo un velo di buon latte per darmi un tocco di gusto</p>
						<p>Altri 5 minuti nel forno per la doratura perfetta e…</p>
					</div>
				</div> <!--col-sm-8-->
			</div> <!--cbp-so-section-->
			
			<!--sezione 6-->
			<div class="divider_padding"></div>
			<div class="col-xs-4 col-xs-offset-4"><hr /></div>
			<div class="divider_padding"></div>
			<div class="clearboth"></div>
			
			<div class="cbp-so-section">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="cbp-so-side cbp-so-side-bottom cbp-normal text-center">
					<p class="lead">Eccomi qua, dopo essermi presentato, sono pronto per intraprendere una nuova avventura:</p>
					<h2 class="script">un dolce tuffo nella vostra tazza di latte!</h2>
					</div>
					<div class="divider_padding"></div>
					<div class="cbp-so-side cbp-so-side-top cbp-fast">
						<img src="<!-- @path img-sez-5.jpg -->" alt="" class="img-responsive center-block"/>
					</div>
				</div> <!--col-sm-8-->
			</div> <!--cbp-so-section-->
			
		</div> <!--row-->
		
	</div> <!--container container-small-->
</div> <!--#section-0-->
