<section id="section-3" class="services" style="padding-top: 60px;">
	
	<div class="container">
	
		<div class="text-center">
		
			<div class="cbp-so-section">
				<div class="cbp-so-side cbp-so-side-top cbp-normal">
			  	<h1 class="script">Partecipa ai miei concorsi</h1>
			  </div>
			</div> <!--cbp-so-section-->
		
		</div>
	
	</div>

</section>

<section class="bb">
	
	<div class="container">
	
		<div class="text-center">
			
			<div class="cbp-so-section">
				<div class="cbp-so-side cbp-so-side-bottom cbp-normal">
					<img src="<!-- @path bb.png -->" alt="" class="img-responsive center-block" />
				</div>
			</div> <!--cbp-so-section-->
		
		</div> <!--text-center-->
	
	</div><!-- container -->
	
	<div class="divider_padding"></div>
	
	<div class="container container-small container-center-sm">
		<div class="row">
		
			<div class="col-sm-5 col-sm-offset-2">
				<div class="cbp-so-section">
					<div class="cbp-so-side cbp-so-side-left cbp-slow">
						<img src="<!-- @path pack-bb.png -->" alt="" class="img-responsive center-block" />
					</div>
				</div> <!--cbp-so-section-->
			</div>
			
			<div class="col-sm-5" style="padding-left: 0px;">
				<div class="cbp-so-section">
					<div class="cbp-so-side cbp-so-side-right cbp-lazy">
					<div class="divider_padding"></div>
					<p>Per tutte le informazioni sulla promozione e il regolamento:</p>
				  	<a href="http://colussi.net/buongiornobiscottoso/" target="_blank" rel="nofollow" class="btn btn-lg btn-warning-border btn-transparent">Vai al sito</a>
				  </div>
				</div> <!--cbp-so-section-->
			</div>
			
		</div>
	</div><!-- container container-small container-center-sm -->
				</section>

<!--<section id="section-3" class="services">
	
	<div class="container">
	
		<div class="text-center">
		
			<div class="cbp-so-section">
				<div class="cbp-so-side cbp-so-side-top cbp-normal">
			  	<h1 class="script">Ed anche...</h1>
			  </div>
			</div>
		
		</div>
	
	</div>

</section>-->
