<div id="section-0" class="header"> <!-- .header -->
		
		<div class="well palette palette-info palette-header">			
			<div class="cbp-so-section">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-lg-offset-3 col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-6 col-xs-offset-0 animated bounceInDown">
							<div class="cbp-so-side cbp-so-side-top cbp-normal">
								<a href="#identity" title="Sfoglia la mia carta di identità" ><img src="<!-- @path logo-colussi.png -->" alt="Logo Colussi" class="img-responsive img-center" /></a>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 animated fadeInRight">
							<div class="cbp-so-side cbp-so-side-right cbp-normal pull-right">
								<a href="http://www.colussi.net/" class="btn btn-xs btn-danger-border btn-transparent"><span class="fa fa-arrow-left"> Colussi.net</a>
								<a href="http://colussi.net/granturchese/en/" class="btn btn-xs btn-danger-border btn-transparent">EN</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 col-logo-gt animated fadeInUp">
							<div class="cbp-so-side cbp-so-side-bottom cbp-fast">
								<a href="#identity" title="Sfoglia la mia carta di identità" ><img src="<!-- @path logo-granturchese.png -->" alt="Logo" class="img-responsive img-center" /></a>
							</div>
						</div>
					</div>
				</div>
			</div> <!--cbp-so-section-->
				
		</div> <!--well palette palette-header-->
		
		<div id="identity" class="card-container">
			<div class="container">
				<div class="row">
				
					<div class="cbp-so-section">
						<div class="col-xs-12">
							<div class="animated fadeInLeftBig">
									
									<div class="intro-carta hidden-xs">
										<p class="text-primary">Buongiorno Amici!<br />Sono <strong>GranTurchese</strong>, un frollino allegro, friabile e golosissimo.<br />Non sono come tutti gli altri biscotti, attraverso i miei buchi diventa tutto più dolce…</p>
										<button class="btn btn-sm btn-danger" id="btnBang">Sfoglia la mia carta di identità <span class="fa fa-arrow-circle-right"></span></button>
										
									</div>
									
									<div id="card">
										<div><img src="<!-- @path card1.jpg -->" class="img-responsive" alt="" /></div>
										<div><img src="<!-- @path card2.jpg -->" class="img-responsive" alt="" /></div>
										<div><img src="<!-- @path card3.jpg -->" class="img-responsive" alt="" /></div>
										<div><img src="<!-- @path card4.jpg -->" class="img-responsive" alt="" /></div>
									</div>
	
							</div>
							<div class="animated fadeIn">
								<div class="cbp-so-side cbp-so-side-bottom cbp-slow">
									<img src="<!-- @path card-shadow.png -->" alt="Card ombra" class="img-responsive img-center img-card-ombra" />
								</div>
							</div>
						</div>
					</div> <!--cbp-so-section-->
				
				</div> <!--row-->
			</div> <!--container-->
		</div> <!--card-container-->
	
	
	
	<div class="container">
		<p class="visible-xs text-primary text-center"><button class="btn btn-sm btn-danger" id="btnBang-sm">Sfoglia la mia carta di identità <span class="fa fa-arrow-circle-up"></span></button><br />Buongiorno Amici!<br />Sono <strong>GranTurchese</strong>, un frollino allegro, friabile e golosissimo.<br />Non sono come tutti gli altri biscotti, attraverso i miei buchi diventa tutto più dolce…
		</p>
		
	</div>
	
	<div class="divider_padding"></div>
	
	<div class="cbp-so-section">
		<div class="bottone-scroll-top text-center animated bounceInDown">
			<div class="cbp-so-side cbp-so-side-bottom cbp-lazy">
				<a href="#section-1" class="btn btn-lg btn-info-border"><i class="fa fa-arrow-down"></i>&nbsp;&nbsp; Scoprite il perché</a>
			</div>
		</div>
	</div> <!--cbp-so-section-->
	
	<div class="divider_padding"></div>
	<div class="divider_padding"></div>
	</div> <!--#section-0-->
