<section id="section-2" class="intro">		<div class="container">				
		<div class="cbp-so-section text-center">
			<div class="cbp-so-side cbp-so-side-top cbp-normal">				<h1 class="script">Ora Amici vi presento la mia famiglia…<br />Una famiglia ricca di buchi e bontà!</h1>			</div>
		</div> <!--cbp-so-section-->

	</div>	
	
		<div class="divider_padding"></div>
	
	<div class="container container-small container-center-sm">		
		
		<div class="cbp-so-section">
			<div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
				<div class="cbp-so-side cbp-so-side-left cbp-fast">
					<img src="<!-- @path img-sez-3.jpg -->" alt="" class="img-responsive center-block"/>
				</div>
			</div> <!--col-sm-4-->
			<div class="col-sm-8 col-sm-offset-0 col-xs-12 col-xs-offset-0">
				<div class="cbp-so-side cbp-so-side-right cbp-normal">
					<p class="lead">Il primo membro sono io: Granturchese classico.</p>
					<p>Sono un biscotto frollino di pastafrolla, prodotto secondo un’originale ed esclusiva ricetta.<br />Più volte hanno cercato di imitarmi ma senza mai riuscirci:<br /> <strong>sono l’unico ed inimitabile frollino con i buchi!</strong></p>
				</div>
			</div> <!--col-sm-8-->
		</div> <!--cbp-so-section-->
		
		<div class="divider_padding"></div>
		<div class="col-xs-4 col-xs-offset-4"><hr /></div>
		<div class="divider_padding"></div>
		<div class="clearboth"></div>
		
	</div>
	<div class="container">
	
		<div class="cbp-so-section">
			<div class="col-sm-5 col-sm-offset-0 col-xs-8 col-xs-offset-2">
				<div class="cbp-so-side cbp-so-side-left cbp-fast">
					<img src="<!-- @path gruppo-classico.jpg -->" alt="" class="img-responsive center-block"/>
				</div>
			</div> <!--col-sm-5-->
			<div class="col-sm-7 col-xs-12">
				<div class="cbp-so-side cbp-so-side-right cbp-normal">
					<p>Il mio gusto è molto fine e delicato, friabile e particolarmente indicato per la colazione o per il tè… adatto a tutta la famiglia!</p>
					<p class="lead">Ogni giorno ti accompagno con gusto ed allegria! Prova a guardare attraverso i miei buchi, ti renderai conto che tutto diventa più bello e speciale!</strong></p>
				</div>
				<div class="cbp-so-side cbp-so-side-left cbp-slow">
					<!-- @todo http://www.colussi.net -->
					<a href="http://colussi.net/prodotti/granturchese/" class="btn btn-lg btn-danger-border" target="_blank">Scheda prodotto Classico</a>
				</div>
			</div> <!--col-sm-7-->
		</div> <!--cbp-so-section-->

		<div class="divider_padding"></div>	
		
		<div class="cbp-so-section">
			<div class="col-sm-5 col-sm-offset-0 col-sm-push-7 col-xs-8 col-xs-offset-2 col-xs-push-0">
				<div class="cbp-so-side cbp-so-side-right cbp-fast">
					<img src="<!-- @path gruppo-cacao.jpg -->" alt="" class="img-responsive center-block"/>
				</div>
			</div> <!--col-sm-4-->
			<div class="col-sm-7 col-sm-pull-5 col-xs-12 col-xs-pull-0">
				<div class="cbp-so-side cbp-so-side-left cbp-normal">
					<p>Nel 2011, in occasione del centenario di casa Colussi, ha fatto il debutto il secondo arrivato: Granturchese al cacao.<br />La tradizionale forma rotonda con i buchi e l’inimitabile ricetta si uniscono alla bontà del cacao… Il mix perfetto tra tradizione e golosità!<br />Dal gusto molto prelibato e friabile è ideale per chi vuole iniziare la giornata con più gusto…</p>
					<p class="lead">con tutto il piacere di una colazione deliziosa in una versione con cacao e nocciole.</p>
				</div>
				<div class="cbp-so-side cbp-so-side-right cbp-slow">
					<!-- @todo http://www.colussi.net -->
					<a href="http://colussi.net/prodotti/granturchese-cacao/" class="btn btn-lg btn-danger-border" target="_blank">Scheda prodotto Cacao</a>
				</div>
			</div> <!--col-sm-8-->
		</div> <!--cbp-so-section-->
		
		<div class="divider_padding"></div>			
		<div class="cbp-so-section">
			<div class="col-sm-5 col-sm-offset-0 col-xs-8 col-xs-offset-2">
				<div class="cbp-so-side cbp-so-side-left cbp-fast">
					<img src="<!-- @path gruppo-turchesini.jpg -->" alt="" class="img-responsive center-block"/>
				</div>
			</div> <!--col-sm-5-->
			<div class="col-sm-7 col-xs-12">
				<div class="cbp-so-side cbp-so-side-right cbp-normal">
					<p class="lead">Ed ecco i picolini di casa: i Turchesini, entrati in famiglia nel 2014!</p>
					<p>Sono i <strong>golosissimi mini biscosnack</strong>, dolci gemelli diversi: uno è <strong>bianco latte</strong> mentre l’altro è <strong>nero cacao</strong>. Come potete notare assomigliano molto a me ed a Granturchese cacao!</p>
					<p class="lead">Sono buonissimi perché preparati con ingredienti selezionati:</p>
					<ul>
						<li>latte fresco 100% italiano o squisito cacao</li>
						<li> uova fresche</li>
						<li> senza aromi e conservanti</li>
						<li>senza olio di palma.</li>
					</ul>					
				</div>
			</div> <!--col-sm-7-->
		</div> <!--cbp-so-section-->
		
		<div class="divider_padding visible-sm visible-xs"></div>	
		
		<div class="cbp-so-section">
			<div class="col-sm-5 col-sm-offset-0 col-sm-push-7 col-xs-8 col-xs-offset-2 col-xs-push-0" style="margin-top: -20px;">
				<div class="cbp-so-side cbp-so-side-right cbp-fast">
					<img src="<!-- @path gruppo-turchesini-mono.jpg -->" alt="" class="img-responsive center-block"/>
				</div>
			</div> <!--col-sm-4-->
			<div class="col-sm-7 col-sm-pull-5 col-xs-12 col-xs-pull-0">
				<div class="cbp-so-side cbp-so-side-left cbp-normal">
				<div class="divider_padding"></div>	
					<p class="bold">Unicamente simpatici grazie alla loro inimitabile forma tonda e con la griglia.</p>
					<p>Confezionati in <strong>comode monodosi</strong> per evitare sprechi e mantenere intatta tutta la <strong>fragranza dei biscotti appena sfornati</strong>!
					I Turchesini sono ideali per la vostra merenda… Un pieno di bontà da dividere con chi vuoi e come vuoi!</p>
				</div>
				<div class="cbp-so-side cbp-so-side-right cbp-slow">
					<!-- @todo http://www.colussi.net -->
					<a href="http://colussi.net/prodotti/turchesini-latte/" class="btn btn-lg btn-danger-border" target="_blank">Scheda prodotto al Latte</a>
					<!-- @todo http://www.colussi.net -->
					<a href="http://colussi.net/prodotti/turchesini-cacao/" class="btn btn-lg btn-danger-border" target="_blank">Scheda prodotto al Cacao</a>
				</div>
			</div> <!--col-sm-8-->
		</div> <!--cbp-so-section-->
			</div></section>

<div class="well palette">
	<div class="container">
		
		<div class="divider_padding"></div>
		<div class="divider_padding"></div>
		
		<div class="cbp-so-section">
			
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">

					<div class="cbp-so-side cbp-so-side-top cbp-normal">
						<h2 class="text-center script">Nella nostra famiglia abbiamo <strong class="text-warning">6 regole d’oro</strong><br />che ci rendono gustosi ed unici:</h2>
					</div>

					<div class="divider_padding"></div>
					<div class="divider_padding"></div>
				
					<div class="cbp-so-side cbp-so-side-bottom cbp-lazy">
						<dl class="dl-horizontal lead script">
							<dt class="text-warning"><i class="fa fa-lightbulb-o fa-2x"></i></dt>
							<dd class="text-warning">Ricette originali “dal 1911”: ora… come allora</dd>
							<hr />
							<dt class="text-warning"><i class="fa fa-leaf fa-2x"></i></dt>
							<dd class="text-warning">Ingredienti Semplici</dd>
							<hr />
							<dt class="text-warning"><i class="fa fa-flag-o fa-2x"></i></dt>
							<dd class="text-warning">Senza Coloranti e Conservanti</dd>
							<hr />
							<dt class="text-warning"><i class="fa fa-flag fa-2x"></i></dt>
							<dd class="text-warning">Senza Grassi Vegetali Idrogenati</dd>
							<hr />
							<dt class="text-warning"><i class="fa fa-sort fa-2x"></i></dt>
							<dd class="text-warning">Selezione accurata delle materie prime</dd>
							<hr />
							<dt class="text-warning"><i class="fa fa-star-o fa-2x"></i></dt>
							<dd class="text-warning">Forma e struttura inconfondibile: ideali da inzuppare!</dd>
						</dl>
					</div>
						
				</div>
			</div><!-- row -->
			
			<div class="divider_padding"></div>

			<div class="cbp-so-side cbp-so-side-bottom cbp-slow">
				<h3 class="script text-center">E noi siamo molto disciplinati…<br />le seguiamo proprio tutte!</h3>
			</div>
		</div> <!--cbp-so-section-->
		
		<div class="divider_padding"></div>
		<div class="divider_padding"></div>
		
	</div>
</div>