<div id="section-5" class="intro"> <!-- .header -->	<div class="container container-small">
	
		<div class="cbp-so-section">
			<div class="animated fadeInUp">
				<div class="cbp-so-side cbp-so-side-top cbp-normal text-center">
					<h1 class="script">Cari Amici,<br />
					Come ben sapete io sono un amante della prima colazione ed ora vi svelerò i segreti per iniziare la giornata con gusto ed allegria…</h1>
					<h1 class="script">La colazione è un dolce momento di felicità<br />ma solo se trascorsa in giusta compagnia!</h1>
				</div>
			</div>
		</div> <!--cbp-so-section-->
	
	</div>
	<div class="container container-small container-center-sm">
		
		<div class="row">
			
			<!--sezione 1-->
			<div class="divider_padding"></div>
			<div class="col-xs-4 col-xs-offset-4"><hr /></div>
			<div class="divider_padding"></div>
			<div class="clearboth"></div>
			
			<div class="cbp-so-section">
				<div class="cbp-so-side cbp-so-side-right cbp-fast text-center">
					<h3 class="script">&Egrave; risaputo che una colazione ideale è composta da:</h3>
				</div>
			</div> <!--cbp-so-section-->
			
			<div class="divider_padding"></div>
			
			<div class="col-sm-6">
				
				<div class="cbp-so-section">
					<div class="cbp-so-side cbp-so-side-left cbp-normal">
						
						<div class="row" style="margin-bottom: 4px;">
						  <div class="col-sm-3">
						    <img src="<!-- @path img-colaz-1.jpg -->" alt="" class="img-responsive img-center img-thumbnail img-circle media-object" width="80"/>
						  </div>
						  <div class="col-sm-9" style="padding-left: 0px;">
						    <p>Una <strong>bevanda calda</strong>: tazza di <strong>latte</strong> o <strong>tè</strong>, per una dolce coccola mattutina.</p>
						  </div>
						</div>
						
					</div>
				</div> <!--cbp-so-section-->
				
				<div class="cbp-so-section">
					<div class="cbp-so-side cbp-so-side-left cbp-lazy">
						
						<div class="row" style="margin-bottom: 4px;">
						  <div class="col-sm-3">
						    <img src="<!-- @path img-colaz-2.jpg -->" alt="" class="img-responsive img-center img-thumbnail img-circle media-object" width="80"/>
						  </div>
						  <div class="col-sm-9" style="padding-left: 0px;">
						    <p>Un <strong>succo</strong> o un <strong>frutto fresco</strong>, per un riavvio colorato.</p>
						  </div>
						</div>

					</div>
				</div> <!--cbp-so-section-->
				
				<div class="cbp-so-section">
					<div class="cbp-so-side cbp-so-side-left cbp-slow">
						
						<div class="row" style="margin-bottom: 4px;">
						  <div class="col-sm-3">
						    <img src="<!-- @path img-sez-3.jpg -->" alt="" class="img-responsive img-center media-object" width="80"/>
						  </div>
						  <div class="col-sm-9" style="padding-left: 0px;">
						    <p>Un <strong>biscotto</strong>, per un dolce incontro!</p>
						  </div>
						</div>
						
					</div>
				</div> <!--cbp-so-section-->
			
			</div> <!--col-sm-6-->
			
			<div class="col-sm-6">
				
				<div class="cbp-so-section">
					<div class="cbp-so-side cbp-so-side-left cbp-fast">
						<img src="<!-- @path famiglia.jpg -->" alt="" class="img-responsive center-block"/>
					</div>
				</div> <!--cbp-so-section-->				
				
			</div> <!--col-sm-6-->
			
		
		</div> <!--row-->
		<div class="divider_padding"></div>
		
	</div> <!--container container-small-->
	
	<div class="well palette palette-info-lighter colazione-bg no-margin-bottom">
		<div class="container container-center-sm">
			
			<div class="row">
	
				<div class="divider_padding"></div>
					<div class="cbp-so-section">
						<div class="cbp-so-side cbp-so-side-top cbp-fast text-center">
							<h3 class="script">Non importa che voi beviate latte, tè o succo di frutta,<br />ciò che rende il risveglio speciale è il biscotto!</h3>
							<h1 class="script">Cominciate la giornata con me,<br />vi metterò il buon umore!</h1>
						</div>
					</div> <!--cbp-so-section-->
				
				<!--sezione 2-->
				<div class="divider_padding"></div>
				<div class="clearboth"></div>
				
				<div class="cbp-so-section">
					<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-0">
						<div class="cbp-so-side cbp-so-side-right cbp-fast" style="margin-top: -40px;">
							<img src="<!-- @path tazzaGT.png -->" alt="" class="img-responsive center-block"/>
						</div>
					</div> <!--col-sm-4-->
					<div class="col-xs-12 col-md-6 col-lg-7">
						<div class="cbp-so-side cbp-so-side-left cbp-normal">
							<div class="divider_padding hidden-sm hidden-xs"></div>
							<p class="bold">Ecco 5 motivi per scegliermi:</p>
							<ol class="script">
								<li><strong>GUSTO</strong>, un pieno di bontà e dolcezza</li>
								<li><strong>ENERGIA</strong>, una carica ideale per affrontare al meglio la vostra giornata</li>
								<li><strong>ATTENZIONE</strong>, non contengo né grassi idrogenati né conservanti e colorati</li>
								<li><strong style="text-transform: uppercase;">ORIGINALITà</strong>, ricette tradizionali buone oggi come allora</li>
								<li><strong>SIMPATIA</strong>, una forma inimitabile in grado di farti sorridere!</li>
							</ol>
						</div>
					</div> <!--col-sm-8-->
				</div> <!--cbp-so-section-->
			
			</div> <!--row-->
			
			<div class="divider_padding"></div>
		
		</div> <!--container container-small-->
		
	</div>
	<div class="well palette palette-warning">
		
		<div class="divider_padding"></div>
		
			<div class="container text-center">
				
				<!-- Button trigger modal -->
				<button class="btn btn-lg btn-primary-border btn-transparent" data-toggle="modal" data-target="#loSapeviChe">
				  <i class="fa fa-star"></i> Lo sapevi che…
				</button>
				
			</div>
		
		<div class="divider_padding"></div>
		
	</div>
	<!-- Modal -->
	<div class="modal fade" id="loSapeviChe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title script" id="myModalLabel">Lo sapevi che...</h4>
	      </div>
	      <div class="modal-body">
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> L’ideatore del <strong>GranTurchese</strong> è <strong>Giacomo Colussi</strong>, figlio di Angelo il fondatore dell’azienda. All’inizio degli anni Cinquanta, Giacomo intuisce che gli italiani cominciano a desiderare prodotti da forno diversi dalla classica fetta di pane e marmellata, acquista così macchinari dal Belgio e dalla Germania per iniziare a produrre frollini. <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	        <hr />
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> L’inimitabile forma del <strong>GranTurchese</strong> si ispira ad uno stampino di epoca romana, dalla singolare forma tonda e reticolata, visto da Giacomo molti anni prima al <strong>Museo di Pompei</strong>, mentre il nome del frollino deriva da una gemma. <strong>GranTurchese</strong> incontra i favori del pubblico immediatamente: la sua speciale reticolatura lo rende perfetto per la prova inzuppo a colazione. <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	        <hr />
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> Nel settembre 2011 il mitico <strong>GranTurchese</strong> esce nella golosa versione al cacao, regalando momenti di nuovo e intenso piacere, ma mantenendo sempre le caratteristiche peculiari che lo hanno reso tanto famoso e amato.  <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	        <hr />
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> I dolci mettono il buon umore. Da diverse ricerche condotte è emerso che esiste una correlazione positiva tra consumo di cibi dolci e miglioramento dell’umore, soddisfazione e calma. Merito di neurotrasmettitori, come serotonina e dopamina, che attivati dagli zuccheri hanno effetti rilassanti sul sistema nervoso. <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	        <hr />
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> I grandi protagonisti della storia e della poesia, come Napoleone Bonaparte e Giacomo Leopardi, non rinunciavano alla prima colazione. Un pieno di energia al mattino aiuta la creatività e l’ingegno! <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	        <hr />
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> Chi salta la prima colazione è portato a mangiare in modo scorretto tutto il resto della giornata. Da molte ricerche è emerso che chi salta la colazione è più frequentemente in sovrappeso, si impegna meno nell’attività fisica ed è più distratto a scuola. <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	        <hr />
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> Cacao, cioccolato ed amore provocano lo stesso effetto nel nostro corpo: un senso di beatitudine derivante dall’azione della feniletilamina. Quando il tuo organismo ha bisogno di una coccola puoi gustare i golosissimi <strong>GranTurchese</strong> al cacao! <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	        <hr />
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> Lo scambio di chiacchiere ha effetti positivi sulla tenuta generale. I ricercatori dell’Università del Michigan hanno dimostrato che bastano dieci minuti di conversazione per stimolare la memoria e far funzionare meglio il cervello, si può quindi approfittare della colazione per parlare con le persone amate. <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	        <hr />
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> Ridere e sorridere per almeno 15 minuti durante la giornata aiutano a perdere peso e a mantenere in salute il sistema cardiocircolatorio. Comincia la giornata con il sorriso: <strong>scegli GranTurchese a colazione</strong>! <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default-border" data-dismiss="modal">Chiudi</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="divider_padding"></div>
	
	<div class="container container-small text-center">
		<div class="cbp-so-section">
			<div class="cbp-so-side cbp-so-side-left cbp-normal">
				<p class="lead script">Non dimenticate che la colazione non solo rappresenta il mio pasto preferito<br />perché è un’occasione per divertirmi in vostra compagnia<br />ma è un rito al quale non si può rinunciare!</p>
			</div>
			<div class="cbp-so-side cbp-so-side-right cbp-normal">
				<p class="lead script">Essenziale per svegliare <strong>corpo</strong> e <strong>cervello</strong><br />e mantenere alto il livello di attenzione e sazietà.</p>
			</div>
			<div class="cbp-so-side cbp-so-side-left cbp-normal">
				<p class="lead script">È quindi importante che sia bilanciata e che apporti il giusto quantitativo di calorie.<br />In media entro un’ora dal risveglio dovrebbero essere assunte tra le 300-400 calorie, circa il 15-20% del fabbisogno giornaliero.</p>
			</div>
			<div class="cbp-so-side cbp-so-side-right cbp-normal">
				<h1 class="script"><small>Fate colazione Amici e ricordate che…</small><br />Una colazione con GranTurchese<br />è una <a href="http://instagram.com/grancolazione">#GranColazione</a>!”</h1>
			</div>
		</div> <!--cbp-so-section-->
	</div>
</div> <!--#section-0-->
