$blu:								#254e96;
$blu-medium:				darken($blu, 5%);
$blu-dark:					#051858;
$blu-light:					#0061c5;

$giallo:						#ffda1a;
$giallo-medium:			#d19a24;
$giallo-dark:				darken($giallo-medium, 10%);
$giallo-light:			lighten($giallo, 40%);

$celeste-medium:		#d2e5f4;
$celeste-light:			#f3f8fc;

$colore-bold:				#548dd4;

$bianco:						#ffffff;

$viola:							#4a3687;
$rosa:							#cfa2c7;

