		
		<div class="container">
			<h1>Style Check</h1>
			<hr />
			<h1 class="demo-section-title">Basic elements</h1>
		</div>
			
				<div class="container">
				
				<h3 class="demo-panel-title">Buttons normal</h3>
					<p>
					<a href="#fakelink" class="btn btn-primary">Primary Button</a>
					<a href="#fakelink" class="btn btn-warning">Warning Button</a>
					<a href="#fakelink" class="btn btn-default">Default Button</a>
					<a href="#fakelink" class="btn btn-danger">Danger Button</a>
					<a href="#fakelink" class="btn btn-success">Success Button</a>
					<a href="#fakelink" class="btn btn-info">Info Button</a>
					</p>
				
				<h4 class="demo-panel-title">Buttons Border</h4>
					<p>
					<a href="#fakelink" class="btn btn-primary-border">Primary Button</a>
					<a href="#fakelink" class="btn btn-warning-border">Warning Button</a>
					<a href="#fakelink" class="btn btn-default-border">Default Button</a>
					<a href="#fakelink" class="btn btn-danger-border">Danger Button</a>
					<a href="#fakelink" class="btn btn-success-border">Success Button</a>
					<a href="#fakelink" class="btn btn-info-border">Info Button</a>
					</p>
				
				<div class="well palette">
				<h4 class="demo-panel-title">Buttons Border Transparent</h4>
					<p>
					<a href="#fakelink" class="btn btn-primary-border btn-transparent">Primary Button</a>
					<a href="#fakelink" class="btn btn-warning-border btn-transparent">Warning Button</a>
					<a href="#fakelink" class="btn btn-default-border btn-transparent">Default Button</a>
					<a href="#fakelink" class="btn btn-danger-border btn-transparent">Danger Button</a>
					<a href="#fakelink" class="btn btn-success-border btn-transparent">Success Button</a>
					<a href="#fakelink" class="btn btn-info-border btn-transparent">Info Button</a>
					</p>
				</div>
				
				<h4 class="demo-panel-title">Disabled</h4>
					<p>
					<a href="#fakelink" class="btn btn-primary disabled">Primary Button</a>
					<a href="#fakelink" class="btn btn-warning disabled">Warning Button</a>
					<a href="#fakelink" class="btn btn-default disabled">Default Button</a>
					<a href="#fakelink" class="btn btn-danger disabled">Danger Button</a>
					<a href="#fakelink" class="btn btn-success disabled">Success Button</a>
					<a href="#fakelink" class="btn btn-info disabled">Info Button</a>
					</p>
				
				<h4 class="demo-panel-title">Buttons Groups</h4>
					<div class="row">
						<div class="col-md-6">
							<div class="btn-group">
							  <button type="button" class="btn btn-primary">Edit Team <span class="glyphicon glyphicon-edit"></span></button>
							  <button type="button" class="btn btn-danger">Delete <span class="glyphicon glyphicon-remove"></span></button>
							</div>
						</div>
						<div class="col-md-6">
							<div class="btn-group">
							  <button type="button" class="btn btn-primary">Uppload photo</button>
							  <button type="button" class="btn btn-default">Reset</button>
							</div>
						</div>
					</div>
					
			
			<div class="divider_padding"></div>
			
			<h3 class="demo-panel-title">Buttons Large</h3>
				
				<div class="row">
					<div class="col-md-3">
						<a href="#fakelink" class="btn btn-block btn-lg btn-primary">Primary Button</a>
					</div>
					<div class="col-md-3">
						<a href="#fakelink" class="btn btn-block btn-lg btn-warning">Warning Button</a>
					</div>
					<div class="col-md-3">
						<a href="#fakelink" class="btn btn-block btn-lg btn-default">Default Button</a>
					</div>
					<div class="col-md-3">
						<a href="#fakelink" class="btn btn-block btn-lg btn-danger">Danger Button</a>
					</div>
				</div> <!-- /row -->
				<br />
				<div class="row">
					<div class="col-md-3">
						<a href="#fakelink" class="btn btn-block btn-lg btn-success">Success Button <span class="glyphicon glyphicon-ok"></span></a>
					</div>
					<div class="col-md-3">
						<a href="#fakelink" class="btn btn-block btn-lg btn-info">Info Button</a>
					</div>
					<div class="col-md-3">
						<a href="#fakelink" class="btn btn-block btn-lg btn-default disabled">Disabled Button</a>
					</div>
					<div class="col-md-3">
						<a href="#fakelink" class="btn btn-block btn-lg btn-danger-border btn-transparent">Transparent</a>
					</div>
				</div> <!-- /row -->

		  	</div>

		
		<div class="container">				
			<h3 class="demo-panel-title">Input</h3>
			
			<div class="row">
			  <div class="col-md-6">
			    <div class="input-group">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button">Go!</button>
			      </span>
			      <input type="text" class="form-control">
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			  <div class="col-md-6">
			    <div class="input-group">
			      <input type="text" class="form-control">
			      <span class="input-group-btn">
			        <button class="btn btn-info" type="button">Add new! <span class="glyphicon glyphicon-plus-sign"></span></button>
			      </span>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
			<br />
			<div class="row">
			  <div class="col-md-3">
			    <input type="text" value="" placeholder="Inactive" class="form-control" />
			  </div>
			  <div class="col-md-3">
			    <div class="form-group has-error">
			      <input type="text" value="Error" class="form-control" />
			    </div>
			  </div>
			  <div class="col-md-3">
			    <div class="form-group has-success">
			      <input type="text" value="Success" class="form-control" />
			      <i class="input-icon fui-check-inverted"></i>
			    </div>
			  </div>
			  <div class="col-md-3">
			    <input type="text" value="Disabled" disabled="disabled" class="form-control" />
			  </div>
			</div> <!-- /row -->
			
			<h3 class="demo-panel-title">Input Border</h3>
			
			<div class="row">
			  <div class="col-md-6">
			    <div class="input-group">
			      <span class="input-group-btn">
			        <button class="btn btn-default btn-default-border" type="button">Go!</button>
			      </span>
			      <input type="text" class="form-control form-control-border">
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			  <div class="col-md-6">
			    <div class="input-group">
			      <input type="text" class="form-control form-control-border">
			      <span class="input-group-btn">
			        <button class="btn btn-info-border" type="button">Add new! <span class="glyphicon glyphicon-plus-sign"></span></button>
			      </span>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
			<br />
			<div class="row">
			  <div class="col-md-3">
			    <input type="text" value="" placeholder="Inactive" class="form-control" />
			  </div>
			  <div class="col-md-3">
			    <div class="form-group has-error">
			      <input type="text" value="Error" class="form-control form-control-border" />
			    </div>
			  </div>
			  <div class="col-md-3">
			    <div class="form-group has-success">
			      <input type="text" value="Success" class="form-control form-control-border" />
			      <i class="input-icon fui-check-inverted"></i>
			    </div>
			  </div>
			  <div class="col-md-3">
			    <input type="text" value="Disabled" disabled="disabled" class="form-control" />
			  </div>
			</div> <!-- /row -->
			
		</div>
		
		<div class="container">
		
			<div class="divider_tratteggio"></div>
		
			<h3 class="demo-panel-title">Well Palette Colors</h3>

				<div class="row">
					<div class="col-md-2">
						<div class="well palette palette-default">
							<p>Default</p>
						</div>
						<div class="well palette-default">
							<p>Default</p>
						</div>
					</div>
					<div class="col-md-2">
						<div class="well palette palette-primary">
							<p>Primary</p>
						</div>
						<div class="well palette-primary">
							<p>Primary</p>
						</div>
						<div class="well palette palette-primary-medium">
							<p>Medium</p>
						</div>
						<div class="well palette palette-primary-light">
							<p>Light</p>
						</div>
						<div class="well palette palette-primary-lighter">
							<p>Lighter</p>
						</div>
						<div class="well palette palette-primary-dark">
							<p>Dark</p>
						</div>
						<div class="well palette palette-primary-darker">
							<p>Darker</p>
						</div>
					</div>
					<div class="col-md-2">
						<div class="well palette palette-warning">
							<p>Warning</p>
						</div>
						<div class="well palette-warning">
							<p>Warning</p>
						</div>
						<div class="well palette palette-warning-medium">
							<p>Medium</p>
						</div>
						<div class="well palette palette-warning-light">
							<p>Light</p>
						</div>
						<div class="well palette palette-warning-lighter">
							<p>Lighter</p>
						</div>
						<div class="well palette palette-warning-dark">
							<p>Dark</p>
						</div>
						<div class="well palette palette-warning-darker">
							<p>Darker</p>
						</div>
					</div>
					<div class="col-md-2">
						<div class="well palette palette-danger">
							<p>Danger</p>
						</div>
						<div class="well palette-danger">
							<p>Danger</p>
						</div>
						<div class="well palette palette-danger-medium">
							<p>Medium</p>
						</div>
						<div class="well palette palette-danger-light">
							<p>Light</p>
						</div>
						<div class="well palette palette-danger-lighter">
							<p>Lighter</p>
						</div>
						<div class="well palette palette-danger-dark">
							<p>Dark</p>
						</div>
						<div class="well palette palette-danger-darker">
							<p>Darker</p>
						</div>
					</div>
					<div class="col-md-2">
						<div class="well palette palette-success">
							<p>Success</p>
						</div>
						<div class="well palette-success">
							<p>Success</p>
						</div>
						<div class="well palette palette-success-medium">
							<p>Medium</p>
						</div>
						<div class="well palette palette-success-light">
							<p>Light</p>
						</div>
						<div class="well palette palette-success-lighter">
							<p>Lighter</p>
						</div>
						<div class="well palette palette-success-dark">
							<p>Dark</p>
						</div>
						<div class="well palette palette-success-darker">
							<p>Darker</p>
						</div>
					</div>
					<div class="col-md-2">
						<div class="well palette palette-info">
							<p>Info</p>
						</div>
						<div class="well palette-info">
							<p>Info</p>
						</div>
						<div class="well palette palette-info-medium">
							<p>Medium</p>
						</div>
						<div class="well palette palette-info-light">
							<p>Light</p>
						</div>
						<div class="well palette palette-info-lighter">
							<p>Lighter</p>
						</div>
						<div class="well palette palette-info-dark">
							<p>Dark</p>
						</div>
						<div class="well palette palette-info-darker">
							<p>Darker</p>
						</div>
					</div>
				</div> <!-- /row -->
				
				<div class="divider_tratteggio"></div>
				
		</div>
	