<!-- Callout -->
<div class="callout">
  <div class="vert-text" style="vertical-align: middle;">
  	
  	<div class="cbp-so-section">  		
  		<div class="cbp-so-side cbp-so-side-top cbp-normal">
  			<h1 class="script">Remember… <br/>There is only one GranTurchese<br class="visible-md visible-lg"/> and no one is like him!</h1>
  		</div>
  	</div> <!--cbp-so-section-->
  	
  </div>
</div>
<!-- /Callout -->