<!-- Call to Action -->
<div class="call-to-action">
  <div class="container">
    <div class="text-center">
      <a href="mailto:info@molinogatti.it" class="btn btn-lg btn-info-border btn-transparent">info@molinogatti.it</a>
      <a href="tel:+39075837336" class="btn btn-lg btn-info-border btn-transparent">+39 075 837336</a>
    </div>
  </div>
</div>
<!-- /Call to Action -->