<div id="section-1" class="intro"> <!-- .header -->	<div class="container container-small container-center-sm">
	
		<div class="cbp-so-section">
			<div class="animated fadeInUp">
				<div class="cbp-so-side cbp-so-side-top cbp-normal">
					<h1 class="script text-center">Excuse me, I would like to present myself.<br /> I am Granturchese</h1>
				</div>
			</div>
		</div> <!--cbp-so-section-->
		
		<div class="row">
			
			<!--sezione 1-->
			<div class="divider_padding"></div>
			<div class="col-xs-4 col-xs-offset-4"><hr /></div>
			<div class="divider_padding"></div>
			<div class="clearboth"></div>
			
			<div class="cbp-so-section">
				<div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
					<div class="cbp-so-side cbp-so-side-left cbp-fast">
						<img src="<!-- @path img-sez-1.jpg -->" alt="" class="img-responsive center-block"/>
					</div>
				</div> <!--col-sm-4-->
				<div class="col-sm-8 col-sm-offset-0 col-xs-12 col-xs-offset-0">
					<div class="cbp-so-side cbp-so-side-right cbp-normal">
						<p class="lead">The secret of my scrumptiousness is my story, filled with goodness, quality and the desire to share moments of happiness!</p>
						<p>I was born in 1955 thanks to Mr Colussi’s streak of genius: he created, in a few simple steps, <strong class="text-primary">the star biscuit of Italian breakfast</strong>, perfect for starting your day with happiness!</p>
					</div>
				</div> <!--col-sm-8-->
			</div> <!--cbp-so-section-->
			
			<!--sezione 2-->
			<div class="divider_padding"></div>
			<div class="col-xs-4 col-xs-offset-4"><hr /></div>
			<div class="divider_padding"></div>
			<div class="clearboth"></div>
			
			<div class="cbp-so-section">
				<div class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-6 col-xs-offset-3 col-xs-push-0">
					<div class="cbp-so-side cbp-so-side-right cbp-fast">
						<img src="<!-- @path img-sez-2.jpg -->" alt="" class="img-responsive center-block"/>
					</div>
				</div> <!--col-sm-4-->
				<div class="col-sm-8 col-sm-pull-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 col-xs-pull-0">
					<div class="cbp-so-side cbp-so-side-left cbp-normal">
						<p class="lead">It all began with the purchase of the finest ingredients: <strong>flour</strong>, <strong>milk</strong>, <strong>eggs</strong> and <strong>sugar</strong></p>
						<p>As you know, well begun is half done. These ingredients are mixed for approximately 8 minutes.</p>
					</div>
				</div> <!--col-sm-8-->
			</div> <!--cbp-so-section-->
			
			<!--sezione 3-->
			<div class="divider_padding"></div>
			<div class="col-xs-4 col-xs-offset-4"><hr /></div>
			<div class="divider_padding"></div>
			<div class="clearboth"></div>
			
			<div class="cbp-so-section">
				<div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
					<div class="cbp-so-side cbp-so-side-left cbp-fast">
						<img src="<!-- @path img-sez-3.jpg -->" alt="" class="img-responsive center-block"/>
					</div>
				</div> <!--col-sm-4-->
				<div class="col-sm-8 col-sm-offset-0 col-xs-12 col-xs-offset-0">
					<div class="cbp-so-side cbp-so-side-right cbp-normal">
						<p>As with every preparation, my dough is left to sit for a very short period of time and then, thanks to a custom-made mold, I take on my inimitable appearance.</p>
						<p class="lead">The only round shortcake biscuit with holes!</p>
					</div>
				</div> <!--col-sm-8-->
			</div> <!--cbp-so-section-->
			
			<!--sezione 4-->
			<div class="divider_padding"></div>
			<div class="col-xs-4 col-xs-offset-4"><hr /></div>
			<div class="divider_padding"></div>
			<div class="clearboth"></div>
			
			<div class="cbp-so-section">
				<div class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-6 col-xs-offset-3 col-xs-push-0">
					<div class="cbp-so-side cbp-so-side-right cbp-fast">
						<img src="<!-- @path img-sez-4.jpg -->" alt="" class="img-responsive center-block"/>
					</div>
				</div> <!--col-sm-4-->
				<div class="col-sm-8 col-sm-pull-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 col-xs-pull-0">
					<div class="cbp-so-side cbp-so-side-left cbp-normal">
						<p class="lead">Immediately after, I brush myself with a coat of delicious milk to give myself a touch of flavour</p>
						<p>Another 5 minutes in the oven until I am golden brown and…</p>
					</div>
				</div> <!--col-sm-8-->
			</div> <!--cbp-so-section-->
			
			<!--sezione 6-->
			<div class="divider_padding"></div>
			<div class="col-xs-4 col-xs-offset-4"><hr /></div>
			<div class="divider_padding"></div>
			<div class="clearboth"></div>
			
			<div class="cbp-so-section">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="cbp-so-side cbp-so-side-bottom cbp-normal text-center">
					<p class="lead">Here I am. After I have presented myself, I am ready to start out on a new adventure:</p>
					<h2 class="script">A sweet dive into your cup of milk!</h2>
					</div>
					<div class="divider_padding"></div>
					<div class="cbp-so-side cbp-so-side-top cbp-fast">
						<img src="<!-- @path img-sez-5.jpg -->" alt="" class="img-responsive center-block"/>
					</div>
				</div> <!--col-sm-8-->
			</div> <!--cbp-so-section-->
			
		</div> <!--row-->
		
	</div> <!--container container-small-->
</div> <!--#section-0-->
