<div id="section-5" class="intro"> <!-- .header -->	<div class="container container-small">
	
		<div class="cbp-so-section">
			<div class="animated fadeInUp">
				<div class="cbp-so-side cbp-so-side-top cbp-normal text-center">
					<h1 class="script">Dear Friends,<br />
					As you well know, I love breakfast and I am now going to reveal my secrets for starting the day with flavour and happiness…</h1>
					<h1 class="script">Breakfast is a sweet moment of happiness <br />but only if you are in the right company!</h1>
				</div>
			</div>
		</div> <!--cbp-so-section-->
	
	</div>
	<div class="container container-small container-center-sm">
		
		<div class="row">
			
			<!--sezione 1-->
			<div class="divider_padding"></div>
			<div class="col-xs-4 col-xs-offset-4"><hr /></div>
			<div class="divider_padding"></div>
			<div class="clearboth"></div>
			
			<div class="cbp-so-section">
				<div class="cbp-so-side cbp-so-side-right cbp-fast text-center">
					<h3 class="script">It is well-known that the ideal breakfast is made up of the following:</h3>
				</div>
			</div> <!--cbp-so-section-->
			
			<div class="divider_padding"></div>
			
			<div class="col-sm-6">
				
				<div class="cbp-so-section">
					<div class="cbp-so-side cbp-so-side-left cbp-normal">
						
						<div class="row" style="margin-bottom: 4px;">
						  <div class="col-sm-3">
						    <img src="<!-- @path img-colaz-1.jpg -->" alt="" class="img-responsive img-center img-thumbnail img-circle media-object" width="80"/>
						  </div>
						  <div class="col-sm-9" style="padding-left: 0px;">
						    <p>A hot drink: a cup of milk or tea, for starting your day off right.</p>
						  </div>
						</div>
						
					</div>
				</div> <!--cbp-so-section-->
				
				<div class="cbp-so-section">
					<div class="cbp-so-side cbp-so-side-left cbp-lazy">
						
						<div class="row" style="margin-bottom: 4px;">
						  <div class="col-sm-3">
						    <img src="<!-- @path img-colaz-2.jpg -->" alt="" class="img-responsive img-center img-thumbnail img-circle media-object" width="80"/>
						  </div>
						  <div class="col-sm-9" style="padding-left: 0px;">
						    <p>A fruit juice or fresh fruit, for a colourful start.</p>
						  </div>
						</div>

					</div>
				</div> <!--cbp-so-section-->
				
				<div class="cbp-so-section">
					<div class="cbp-so-side cbp-so-side-left cbp-slow">
						
						<div class="row" style="margin-bottom: 4px;">
						  <div class="col-sm-3">
						    <img src="<!-- @path img-sez-3.jpg -->" alt="" class="img-responsive img-center media-object" width="80"/>
						  </div>
						  <div class="col-sm-9" style="padding-left: 0px;">
						    <p>A biscuit, for a sweet encounter!</p>
						  </div>
						</div>
						
					</div>
				</div> <!--cbp-so-section-->
			
			</div> <!--col-sm-6-->
			
			<div class="col-sm-6">
				
				<div class="cbp-so-section">
					<div class="cbp-so-side cbp-so-side-left cbp-fast">
						<img src="<!-- @path famiglia.jpg -->" alt="" class="img-responsive center-block"/>
					</div>
				</div> <!--cbp-so-section-->				
				
			</div> <!--col-sm-6-->
			
		
		</div> <!--row-->
		<div class="divider_padding"></div>
		
	</div> <!--container container-small-->
	
	<div class="well palette palette-info-lighter colazione-bg no-margin-bottom">
		<div class="container container-center-sm">
			
			<div class="row">
	
				<div class="divider_padding"></div>
					<div class="cbp-so-section">
						<div class="cbp-so-side cbp-so-side-top cbp-fast text-center">
							<h3 class="script">It does not matter if you drink milk, tea or fruit juice,<br />it is the biscuit that makes the start of your day special!</h3>
							<h1 class="script">Start your day with me,<br />I will put you in a good mood!</h1>
						</div>
					</div> <!--cbp-so-section-->
				
				<!--sezione 2-->
				<div class="divider_padding"></div>
				<div class="clearboth"></div>
				
				<div class="cbp-so-section">
					<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-0">
						<div class="cbp-so-side cbp-so-side-right cbp-fast" style="margin-top: -40px;">
							<img src="<!-- @path tazzaGT.png -->" alt="" class="img-responsive center-block"/>
						</div>
					</div> <!--col-sm-4-->
					<div class="col-xs-12 col-md-6 col-lg-7">
						<div class="cbp-so-side cbp-so-side-left cbp-normal">
							<div class="divider_padding hidden-sm hidden-xs"></div>
							<p class="bold">Here are 5 reasons to choose me:</p>
							<ol class="script">
								<li><strong>FLAVOUR</strong>, chock full of goodness and sweetness</li>
								<li><strong>ENERGY</strong>, the right amount of calories to help get you through your day</li>
								<li><strong>ATTENTION</strong>, I do not contain hydrogenated fat nor preservatives and colouring</li>
								<li><strong>ORIGINALITY</strong>, traditional recipes that are as good today as in the past</li>
								<li><strong>FUN</strong>, an inimitable shape that will make you smile!</li>
							</ol>
						</div>
					</div> <!--col-sm-8-->
				</div> <!--cbp-so-section-->
			
			</div> <!--row-->
			
			<div class="divider_padding"></div>
		
		</div> <!--container container-small-->
		
	</div>
	<div class="well palette palette-warning">
		
		<div class="divider_padding"></div>
		
			<div class="container text-center">
				
				<!-- Button trigger modal -->
				<button class="btn btn-lg btn-primary-border btn-transparent" data-toggle="modal" data-target="#loSapeviChe">
				  <i class="fa fa-star"></i> Did you know that…
				</button>
				
			</div>
		
		<div class="divider_padding"></div>
		
	</div>
	<!-- Modal -->
	<div class="modal fade" id="loSapeviChe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title script" id="myModalLabel">Did you know that…</h4>
	      </div>
	      <div class="modal-body">
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> The creator of GranTurchese is Giacomo Colussi, son of Angelo, the company founder. At the start of the 1950s, Giacomo realized that Italians were beginning to want products different from the classic slice of bread and jam so he bought machinery from Belgium and Germany and began to bake biscuits. <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	        <hr />
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> GranTurchese’s inimitable shape was inspired by a Roman-era mold, round-shaped and gridded, that Giacomo had seen many years earlier at the Pompei Museum, while the biscuit’s name comes from a gemstone. GranTurchese was an immediate success with consumers: its special grid shape makes it perfect for dunking at breakfast. <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	        <hr />
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> In September 2011, the cocoa version of the legendary GranTurchese made its debut, providing moments of new and intense pleasure, but always keeping the peculiar characteristics that have made it so famous and beloved. <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	        <hr />
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> Sweets put you in a good mood. Several studies have shown that there is a positive correlation between eating sweet food and improving your mood, satisfaction and serenity. This is due to neurotransmitters such as serotonin and dopamine, which upon activation by sugars, have a relaxing effect on your nervous system. <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	        <hr />
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> The great protagonists of history and poetry, such as Napoleon Bonaparte and Giacomo Leopardi, never skipped breakfast. Getting a full charge of energy in the morning helps your creativity and imagination! <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	        <hr />
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> People who skip breakfast tend to eat incorrectly for the rest of the day. Numerous studies have shown that people who skip breakfast are more frequently overweight, get less physical exercise and are more distracted at school. <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	        <hr />
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> Cocoa, chocolate and love cause the same effect on our body: a sense of bliss deriving from the effect of phenylethylamine. When your body needs comfort, enjoy the scrumptious Cocoa GranTurchese! <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	        <hr />
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> Chatting has positive effects on your general well-being. Researchers at the University of Michigan have shown that chatting for 10 minutes stimulates your memory and makes your brain function better. So make the most of your breakfast by talking with loved ones. <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	        <hr />
	        
	        <p><sup><i class="fa fa-quote-left"></i></sup> Laughing and smiling for at least 15 minutes a day helps you lose weight and keep your cardiovascular system in good health. Start your day with a smile: enjoy GranTurchese at breakfast! <sup><i class="fa fa-quote-right"></i></sup></p>
	        
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default-border" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="divider_padding"></div>
	
	<div class="container container-small text-center">
		<div class="cbp-so-section">
			<div class="cbp-so-side cbp-so-side-left cbp-normal">
				<p class="lead script">Don’t forget that breakfast is not only my favourite meal because it is an occasion to have fun in your company but it is also important that you don’t skip this meal!</p>
			</div>
			<div class="cbp-so-side cbp-so-side-right cbp-normal">
				<p class="lead script">It is essential for waking up your body and mind, helping you stay focused and full.</p>
			</div>
			<div class="cbp-so-side cbp-so-side-left cbp-normal">
				<p class="lead script">So it is very important that your breakfast is balanced, providing you with the right amount of calories.<br /> On average, within an hour from the time you wake up, you should take in between 300-400 calories, approximately 15-20% of your daily requirement.</p>
			</div>
			<div class="cbp-so-side cbp-so-side-right cbp-normal">
				<h1 class="script"><small>Eat a good breakfast Friends and remember that…</small><br />Breakfast with GranTurchese<br />is a <a href="http://instagram.com/grandbreakfast">#GrandBreakfast</a>!”</h1>
			</div>
		</div> <!--cbp-so-section-->
	</div>
</div> <!--#section-0-->
