<section id="section-2" class="intro">		<div class="container">				
		<div class="cbp-so-section text-center">
			<div class="cbp-so-side cbp-so-side-top cbp-normal">				<h1 class="script">Now Friends, I would like you to meet my family… <br />A family rich in holes and goodness!</h1>			</div>
		</div> <!--cbp-so-section-->

	</div>	
	
		<div class="divider_padding"></div>
	
	<div class="container container-small container-center-sm">		
		
		<div class="cbp-so-section">
			<div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
				<div class="cbp-so-side cbp-so-side-left cbp-fast">
					<img src="<!-- @path img-sez-3.jpg -->" alt="" class="img-responsive center-block"/>
				</div>
			</div> <!--col-sm-4-->
			<div class="col-sm-8 col-sm-offset-0 col-xs-12 col-xs-offset-0">
				<div class="cbp-so-side cbp-so-side-right cbp-normal">
					<p class="lead">The first member is me: Classic Granturchese.</p>
					<p>SI am a shortcake biscuit, baked according to an original, exclusive recipe.<br />
					They have tried to imitate me many times, but without success:<br /> <strong>I am the one and only inimitable shortcake biscuit with holes!</strong></p>
				</div>
			</div> <!--col-sm-8-->
		</div> <!--cbp-so-section-->
		
		<div class="divider_padding"></div>
		<div class="col-xs-4 col-xs-offset-4"><hr /></div>
		<div class="divider_padding"></div>
		<div class="clearboth"></div>
		
	</div>
	<div class="container">
	
		<div class="cbp-so-section">
			<div class="col-sm-5 col-sm-offset-0 col-xs-8 col-xs-offset-2">
				<div class="cbp-so-side cbp-so-side-left cbp-fast">
					<img src="<!-- @path gruppo-classico.jpg -->" alt="" class="img-responsive center-block"/>
				</div>
			</div> <!--col-sm-5-->
			<div class="col-sm-7 col-xs-12">
				<div class="cbp-so-side cbp-so-side-right cbp-normal">
					<p>My taste is very fine and delicate, crumbly and especially suited for breakfast and tea … suitable for the entire family!</p>
					<p class="lead">Every day, I accompany you with flavour and happiness! Take a peek through my holes and you will see that everything becomes more beautiful and special!</strong></p>
				</div>
				<div class="cbp-so-side cbp-so-side-left cbp-slow">
					<!-- @todo http://www.colussi.net -->
					<a href="http://colussi.net/en/prodotti/granturchese/" class="btn btn-lg btn-danger-border" target="_blank">Product details Classico</a>
				</div>
			</div> <!--col-sm-7-->
		</div> <!--cbp-so-section-->

		<div class="divider_padding"></div>	
		
		<div class="cbp-so-section">
			<div class="col-sm-5 col-sm-offset-0 col-sm-push-7 col-xs-8 col-xs-offset-2 col-xs-push-0">
				<div class="cbp-so-side cbp-so-side-right cbp-fast">
					<img src="<!-- @path gruppo-cacao.jpg -->" alt="" class="img-responsive center-block"/>
				</div>
			</div> <!--col-sm-4-->
			<div class="col-sm-7 col-sm-pull-5 col-xs-12 col-xs-pull-0">
				<div class="cbp-so-side cbp-so-side-left cbp-normal">
					<p>In 2011, for Colussi’s 100th anniversary, the second family member arrived on the scene: Cocoa Granturchese.<br />The traditional round shape with holes and the inimitable recipe join with the goodness of cocoa… The perfect mix between tradition and scrumptiousness!<br />Delicious and crumbly, it is perfect for those who want to start their day with more flavour…</p>
					<p class="lead">with all the pleasure of a delicious breakfast in a version with cocoa and hazelnuts.</p>
				</div>
				<div class="cbp-so-side cbp-so-side-right cbp-slow">
					<!-- @todo http://www.colussi.net -->
					<a href="http://colussi.net/en/prodotti/granturchese-cocoa/" class="btn btn-lg btn-danger-border" target="_blank">Product details Cocoa</a>
				</div>
			</div> <!--col-sm-8-->
		</div> <!--cbp-so-section-->
		
		<div class="divider_padding"></div>			
		<div class="cbp-so-section">
			<div class="col-sm-5 col-sm-offset-0 col-xs-8 col-xs-offset-2">
				<div class="cbp-so-side cbp-so-side-left cbp-fast">
					<img src="<!-- @path gruppo-turchesini.jpg -->" alt="" class="img-responsive center-block"/>
				</div>
			</div> <!--col-sm-5-->
			<div class="col-sm-7 col-xs-12">
				<div class="cbp-so-side cbp-so-side-right cbp-normal">
					<p class="lead">And here are the little ones in the family: the Turchesini, family members since 2014!</p>
					<p>They are scrumptious mini biscuit snacks, different twin delights: one is milk white while the other is cocoa black. As you can see, they look a lot like me and Cocoa Granturchese!</p>
					<p class="lead">They are delicious because they are prepared with the finest ingredients:</p>
					<ul>
						<li>100% fresh Italian milk or delicious cocoa </li>
						<li>fresh eggs</li>
						<li>no flavourings or preservatives</li>
						<li>no palm oil.</li>
					</ul>					
				</div>
			</div> <!--col-sm-7-->
		</div> <!--cbp-so-section-->
		
		<div class="divider_padding visible-sm visible-xs"></div>	
		
		<div class="cbp-so-section">
			<div class="col-sm-5 col-sm-offset-0 col-sm-push-7 col-xs-8 col-xs-offset-2 col-xs-push-0" style="margin-top: -20px;">
				<div class="cbp-so-side cbp-so-side-right cbp-fast">
					<img src="<!-- @path gruppo-turchesini-mono.jpg -->" alt="" class="img-responsive center-block"/>
				</div>
			</div> <!--col-sm-4-->
			<div class="col-sm-7 col-sm-pull-5 col-xs-12 col-xs-pull-0">
				<div class="cbp-so-side cbp-so-side-left cbp-normal">
				<div class="divider_padding"></div>	
					<p class="bold">They are simply great fun thanks to their inimitable round shape and grid.</p>
					<p>Packaged in convenient single packs to prevent waste and keep all the just-baked fragrance fresh! The Turchesini are perfect for your snacks…<br /> Chock full of goodness to share with whom you like and how you like!</p>
				</div>
				<div class="cbp-so-side cbp-so-side-right cbp-slow">
					<!-- @todo http://www.colussi.net -->
					<a href="http://colussi.net/en/prodotti/milk-turchesini/" class="btn btn-lg btn-danger-border" target="_blank">Product details Milk</a>
					<!-- @todo http://www.colussi.net -->
					<a href="http://colussi.net/en/prodotti/cocoa-turchesini/" class="btn btn-lg btn-danger-border" target="_blank">Product details Cocoa</a>
				</div>
			</div> <!--col-sm-8-->
		</div> <!--cbp-so-section-->
			</div></section>

<div class="well palette">
	<div class="container">
		
		<div class="divider_padding"></div>
		<div class="divider_padding"></div>
		
		<div class="cbp-so-section">
			
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">

					<div class="cbp-so-side cbp-so-side-top cbp-normal">
						<h2 class="text-center script">In our family we have <strong class="text-warning">6 golden rules</strong><br />
						that make us delicious and unique:</h2>
					</div>

					<div class="divider_padding"></div>
					<div class="divider_padding"></div>
				
					<div class="cbp-so-side cbp-so-side-bottom cbp-lazy">
						<dl class="dl-horizontal lead script">
							<dt class="text-warning"><i class="fa fa-lightbulb-o fa-2x"></i></dt>
							<dd class="text-warning">Original recipes “since 1911”: now… as in the past</dd>
							<hr />
							<dt class="text-warning"><i class="fa fa-leaf fa-2x"></i></dt>
							<dd class="text-warning">Simple ingredients</dd>
							<hr />
							<dt class="text-warning"><i class="fa fa-flag-o fa-2x"></i></dt>
							<dd class="text-warning">No colouring or preservatives</dd>
							<hr />
							<dt class="text-warning"><i class="fa fa-flag fa-2x"></i></dt>
							<dd class="text-warning">No hydrogenated vegetable fats</dd>
							<hr />
							<dt class="text-warning"><i class="fa fa-sort fa-2x"></i></dt>
							<dd class="text-warning">Carefully selected raw materials</dd>
							<hr />
							<dt class="text-warning"><i class="fa fa-star-o fa-2x"></i></dt>
							<dd class="text-warning">Unmistakable shape and structure: perfect for dunking!</dd>
						</dl>
					</div>
						
				</div>
			</div><!-- row -->
			
			<div class="divider_padding"></div>

			<div class="cbp-so-side cbp-so-side-bottom cbp-slow">
				<h3 class="script text-center">And we are very well behaved…<br />We follow all the rules!</h3>
			</div>
		</div> <!--cbp-so-section-->
		
		<div class="divider_padding"></div>
		<div class="divider_padding"></div>
		
	</div>
</div>