<section id="section-4" class="portfolio">	<div class="cbp-so-section">		<div class="container">
			<div class="text-center">
							<div class="cbp-so-side cbp-so-side-top cbp-normal">					<h2 class="script" style="color: #fff;">Follow me on:</h2>				</div>  
			  
			  <div class="divider_padding"></div>
			  
			  <div class="row">
			  	
			  	<div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0">
			  		
			  		<a href="https://www.facebook.com/GranTurchese.official" target="_blank" rel="nofollow" class="btn btn-primary-border btn-transparent"><span class="fa fa-facebook-square fa-3x"></span> facebook</a>
			  		
			  		<div class="divider_padding"></div>
			  		
			  		<div class="well well-sm palette-bianca" style="height: 590px;">
			  			
			  			<div class="fb-like-box" data-href="https://www.facebook.com/GranTurchese.official" data-width="315px" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>
			  		</div>
			  	
			  	</div>
			  	
			  	<div class="divider_padding visible-xs"></div>
			  	
			  	<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 col-xs-offset-0">
			  	
			  		<a href="http://instagram.com/grancolazione" target="_blank" rel="nofollow" class="btn btn-primary-border btn-transparent"><span class="fa fa-instagram fa-3x"></span> Instagram</a>
			  		
			  		<div class="divider_padding"></div>
			  		
			  		<div class="well well-sm palette-bianca" style="height: 590px;">
			  		
			  			<!-- SnapWidget -->
			  			<iframe src="http://snapwidget.com/in/?u=Z3JhbmNvbGF6aW9uZXxpbnwxMDB8M3w1fHxub3w1fG5vbmV8b25TdGFydHx5ZXM=&v=21714" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:315px; height:525px"></iframe>
			  			
			  		</div>
			  		
			  	</div>
			  
			  </div> <!--row-->
			</div>			
		</div>	</div></section>